*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background: url(./background.svg);
	background-repeat: repeat no-repeat;
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: bottom;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
}

.newspaper {
	font-size: clamp(.25rem, 275vw, 1.125rem);
	background-color: #EEE8DA;
	aspect-ratio: 1/1.41;
	width: clamp(min(20rem, 15rem), 30rem, max(30rem, 55rem));
	border: 8px solid black;
	transition: all .2s;
	padding-inline: 1em;

	position: absolute;
	inset: 50% 50%;
	transform: translate(-50%, -60%) scale(.5);
	transform-origin: center;
}

.newspaper:hover {
	transform: translate(-50%, -50%) scale(1);
}

.newspaper > div.introduction {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.newspaper img {
	width: 100%;
	height: auto;
}