*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background: url(./background.svg);
	background-repeat: repeat no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  background-position: center;
	height: 100vh;
	width: 100vw;

	overflow: hidden;

	margin: 0;
}

img.light {
	height: 25vh;
	position: fixed;
	left: 50%;
	top: 0%;
	transform: translate(-20%, 0%);
}

.content {
	margin-top: 28vh;
 	display: flex;
	justify-content: center;
	gap: 10vw;
}

.content article {
	background-color: blue;
	aspect-ratio: 1/1.41;
	height: 35vh;
	border: 15px solid black;
}