*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background: url(./background.svg);
	background-repeat: repeat no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  background-position: bottom;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
}

.content article {
	font-size: .5rem;
	background-color: #EEE8DA;
	aspect-ratio: 1/1.41;
	height: 35vh;
	border: 8px solid black;
	transition: all .2s;
	padding-inline: 1em;
}

.content article.newspaper:hover,
.content article.newspaper:focus {
	transform: scale(2);
}

article > div.introduction {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}